:root {
  --gnb-height: 60px;
}

.App {
  text-align: center;
  padding: 60px;
}

.AccountInformation {
  margin-top: 25px;
}
.AccountInformation .notification {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

.wrapper {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  text-align: center;
  gap: 45px;
}

.box {
  margin: 0 !important;
}
.box__title {
  color: #4a4a4a;
  margin: 0 !important;
}
.box__body {
  padding-top: 32px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  margin: 0 !important;
}
.message-body {
  padding: 12px 20px !important;
  word-break: break-all;
}

.field.is-horizontal {
  align-items: center;
}
.field.is-horizontal .field-label {
  flex-basis: 70px;
  flex-grow: unset;
  flex-shrink: unset;
  margin-right: 15px;
}
.field.is-horizontal .field-label .label {
  font-weight: 500;
  color: #4a4a4a;
}

nav.gnb {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--gnb-height);
  padding: 0 60px;
  z-index: 10000;
  border-bottom: 1px solid #dce1e8;
}

nav.gnb > .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.gnb > ul.menus {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

nav.gnb > ul.menus > li {
  display: inline-block;
}

nav.gnb > ul.menus > li + li {
  margin-left: 8px;
}

nav.gnb > ul.menus > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  fill: #288efb;
  color: #288efb;
  border: 1px solid #b4dafd;
  border-radius: 18px;
  transition: 0.3s;
}

nav.gnb > ul.menus > li > a > svg {
  fill: #288efb;
  transition: 0.3s;
}

nav.gnb > ul.menus > li > a:hover {
  background: #ebf6ff;
}

nav.gnb > ul.menus > li > a:active {
  border-color: #b4dafd;
  color: #b4dafd;
  background: #ebf6ff;
}

nav.gnb > ul.menus > li > a:active > svg {
  fill: #b4dafd;
}

nav.gnb > ul > li > a > svg {
  margin-right: 4px;
}

svg.logo {
  width: auto;
  height: 20px;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.menu-toggle > input[type='checkbox'] {
  display: none;
}

.menu-toggle:has(input[type='checkbox']:checked) > .menu-icon {
  display: none;
}

.menu-toggle:has(input[type='checkbox']:not(:checked)) > .close-icon {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .App {
    padding-left: 24px;
    padding-right: 24px;
  }

  .mobile {
    display: initial;
  }

  .wrapper {
    margin-top: 24px;
  }

  nav.gnb {
    flex-direction: column;
    min-height: var(--gnb-height);
    height: initial;
    padding: 0 24px;
  }

  nav.gnb > .logo-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav.gnb:has(.menu-toggle input#toggle:not(:checked)) > ul.menus {
    display: none;
  }

  nav.gnb > ul.menus {
    width: 100%;
    flex-direction: column;
    padding-bottom: 16px;
  }

  nav.gnb > ul.menus > li {
    width: 100%;
    display: flex;
  }

  nav.gnb > ul.menus > li > a {
    width: 100%;
  }

  ul.menus > li + li {
    margin-top: 8px;
  }
}
